/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : may 31, 2018, 4:27:45 p.m.
    Author     : jpsigcho
*/

body {
    background-color: #cccccc;
}

#wrapper {
    margin: auto;
    text-align: left;
    width: 98%;
}

#navbar span, input {
    font-size: 1em;
    margin: 5px;
    color: #000;
}

#view-content {
    padding: 4px;
}

span {
    color: #000;
    font-weight: bold;
    padding-right: 10px;
    border-bottom: 2px solid #FF5E00;
    text-align: center;
}

input[type="text"] {
    border: 0;
    border-bottom: 2px;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#body table {
    font-size: 1em;
    font-weight: bold;
    border-collapse: collapse;
    padding: 1em;
}

table tr:nth-child(2n) {
    background-color: #e0e0e0;
}

#id-box {
    width: 44px;
    text-align: center;
}

#cntd-box, #ident-box {
    width: 50px;
    text-align: center;
}

#namepr-box,  #code-box, #conect-box, #type-box {
    width: 150px;
    text-align: center;
}

#descrp-box, #location-box, #observ-box{
    width: 200px;
    text-align: left;
}


#price-box {
    width: 179px;
}

h2 {
    font-family: fantasy, sans-serif, Georgia;
    font-weight: bold;
    letter-spacing: 20px;
}

#content {
    text-align: center;
    padding: 0;
    font-size: 1.1em;
    vertical-align: middle;
}

#content, #body-section {
    margin: auto;
    border-radius: 7px;
    background-color: #fff;
    width: 99%;
}

#logo{
    margin-top: 50px;
    height: 200px;
    width: 250px;
    border: #FF5E00;
}

#modify-modal .modal-header {
    background-color: #FF5E00;
    color: #fff;
    font-weight: bold;
}

#myModal .modal-body {
    background-color: #FF5E00;
    color: #fff;
    font-weight: bold;
}

#modify-modal .modal-body {
    text-align: center;
}

video {
    width: 99%;
    height: 490px;
    padding-top: 6px;
}

.btn-styles {
    border-radius: 0;
    border: 2px solid #fff;
    background-color: #ffffcc;
    color: black;
    font-weight: bold;
}

.btn-styles:hover {
    border: 2px solid #ffffcc;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

title{
    background-color: #000;
}
/*
    añadido desde https://www.w3schools.com/Html/tryit.asp?filename=tryhtml_layout_float
*/

div.container {
    width: 100%;
    border: 1px solid gray;
    
}



header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

/*footer {
    position: fixed;*/
/* Altura total del footer en px con valor negativo           
bottom:0px;
padding: 5px 0px 5px 0px;
clear: both;
background: black;
text-align: center;
color: white;
margin-top:50px;
}*/

nav, #registrocontainer{
    float: left;
    width: 150px;
    padding: 1em;
    height: auto;    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

article {
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    height: auto;
}


/*menús  */
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

/* items del menu */

#menu ul li {
    background-color:#2e518b;
}

/* enlaces del menu */

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

/* items del menu */

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background:#5b78a7;
}

.buttonHmenu {
    display: block;
    border: solid black;    
    background: #5b78a7;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    vertical-align: middle;    
    width: 250px;
}

.buttonVmenu {
    display: block;
    border: solid black;        
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: gray;
    font-weight: bold;
    vertical-align: middle;    
}

.hmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;    
}

.hmenu ul li {
    float: left;
}

.hmenu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.hmenu ul li a:hover {
    background-color: #111111;
}


.piepagina{
    height: 250px;
}


td input[type=number]{
    width: 90%;
}